<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IntelliCon 2.0</title>
        <link rel="stylesheet" href="../public/style scratch 2.css" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header-logo">
                    <a class="navbar-brand" href="index.html">
                        <img
                            src="../public/images/IntelliCon Logo1.png"
                            alt="Logo"
                        />
                    </a>
                </div>
                <div class="header-items">
                    <div class="header-item">Home</div>
                    <div class="header-item">Schedule</div>
                    <div class="header-item">CodeRun</div>
                    <div class="header-item">FAQ</div>
                    <div class="header-item">About Us</div>
                </div>
                <div class="header-register">
                    <button class="header-register-btn">Register Now</button>
                </div>
            </div>
            <div class="content">b</div>
        </div>
    </body>
</html>
