<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IntelliCon 2.0</title>

        <!--=============== FAVICON ===============-->
        <link
            rel="shortcut icon"
            href="assets/img/favicon.png"
            type="image/x-icon"
        />

        <!--=============== REMIXICONS ===============-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.min.css"
        />

        <link rel="stylesheet" href="../public/css/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../public/css/user-styles-index.css" />

        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <!-- ---------------------------------------------------------------------------------------------------- -->
        <div class="header">
            <div class="header-logo">
                <a class="navbar-brand" href="index.html">
                    <img src="../public/img/IntelliCon Logo1.png" alt="Logo">
                </a>
            </div>
            <div class="header-items">
                <div class="header-item">Home</div>
                <div class="header-item">Schedule</div>
                <div class="header-item">CodeRun</div>
                <div class="header-item">FAQ</div>
                <div class="header-item">About Us</div>
            </div>
            <div class="header-register">
                <button class="header-register-btn">Register Now</button>
            </div>
        </div>
        <div class="content"></div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        <div class="timeline">
            <div>-------------------------timeline</div>
            <div class="timeline-frame">
                <div class="container-for-timeline left-container">
                    <img src="../public/img/google.png" />
                    <div class="text-box">
                        <h2>Lorem ipsum</h2>
                        <small>Lorem ipsum</small>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Debitis tempore velit voluptatibus corporis?
                            Architecto quos ipsam odio debitis corrupti
                            voluptate dignissimos,
                        </p>
                        <span class="left-container-arrow"></span>
                    </div>
                </div>
                <div class="container-for-timeline right-container">
                    <img src="../public/img/amazon.png" />
                    <div class="text-box">
                        <h2>Lorem ipsum</h2>
                        <small>Lorem ipsum</small>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Debitis tempore velit voluptatibus corporis?
                            Architecto quos ipsam odio debitis corrupti
                            voluptate dignissimos,
                        </p>
                        <span class="right-container-arrow"></span>
                    </div>
                </div>
                <div class="container-for-timeline left-container">
                    <img src="../public/img/toyota.png" />
                    <div class="text-box">
                        <h2>Lorem ipsum</h2>
                        <small>Lorem ipsum</small>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Debitis tempore velit voluptatibus corporis?
                            Architecto quos ipsam odio debitis corrupti
                            voluptate dignissimos,
                        </p>
                        <span class="left-container-arrow"></span>
                    </div>
                </div>
                <div class="container-for-timeline right-container">
                    <img src="../public/img/tesla.png" />
                    <div class="text-box">
                        <h2>Lorem ipsum</h2>
                        <small>Lorem ipsum</small>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Debitis tempore velit voluptatibus corporis?
                            Architecto quos ipsam odio debitis corrupti
                            voluptate dignissimos,
                        </p>
                        <span class="right-container-arrow"></span>
                    </div>
                </div>
                <div class="container-for-timeline left-container">
                    <img src="../public/img/flipkart.png" />
                    <div class="text-box">
                        <h2>Lorem ipsum</h2>
                        <small>Lorem ipsum</small>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Debitis tempore velit voluptatibus corporis?
                            Architecto quos ipsam odio debitis corrupti
                            voluptate dignissimos,
                        </p>
                        <span class="left-container-arrow"></span>
                    </div>
                </div>
                <div class="container-for-timeline right-container">
                    <img src="../public/img/youtube.png" />
                    <div class="text-box">
                        <h2>Lorem ipsum</h2>
                        <small>Lorem ipsum</small>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Debitis tempore velit voluptatibus corporis?
                            Architecto quos ipsam odio debitis corrupti
                            voluptate dignissimos,
                        </p>
                        <span class="right-container-arrow"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        
        <div class="merch">
            <main class="merch-main">
                <section>
                    ----------------------------merch  
                </section>
                <section class="merch-section">
                    <div class="merch-container container-for-merch">
                        <div class="merch-content">
                            <div class="merch-circle">
                                <div class="merch-subcircle"></div>
                                <h1 class="merch-title">Loremipsum</h1>
                            </div>

                            <div class="merch-swiper swiper">
                                <div class="swiper-wrapper">
                                    <article class="merch-article swiper-slide">
                                        <img
                                            src="../public/img/clothing-1.png"
                                            alt="image"
                                            class="merch-img"
                                        />
                                        <h2 class="merch-product">Lorem</h2> 
                                        <h3 class="merch-price">ipsum</h2>
                                    </article>

                                    <article class="merch-article swiper-slide">
                                        <img
                                            src="../public/img/clothing-2.png"
                                            alt="image"
                                            class="merch-img"
                                        />
                                        <h2 class="merch-product">Lorem</h2>
                                        <h3 class="merch-price">ipsum</h2>
                                    </article>

                                    <article class="merch-article swiper-slide">
                                        <img
                                            src="../public/img/clothing-3.png"
                                            alt="image"
                                            class="merch-img"
                                        />
                                        <h2 class="merch-product">Lorem</h2>
                                        <h3 class="merch-price">ipsum</h2>
                                    </article>

                                    <article class="merch-article swiper-slide">
                                        <img
                                            src="../public/img/clothing-4.png"
                                            alt="image"
                                            class="merch-img"
                                        />
                                        <h2 class="merch-product">Lorem</h2>
                                        <h3 class="merch-price">ipsum</h2>
                                    </article>

                                    <article class="merch-article swiper-slide">
                                        <img
                                            src="../public/img/clothing-5.png"
                                            alt="image"
                                            class="merch-img"
                                        />
                                        <h2 class="merch-product">Lorem</h2>
                                        <h3 class="merch-price">ipsum</h2>
                                    </article>
                                </div>
                            </div>

                            <div class="swiper-button-prev"><i class="ri-arrow-left-line"></i></div>
                            <div class="swiper-button-next"><i class="ri-arrow-right-line"></i></div>

                        </div>
                    </div>
                </section>
            </main>
        </div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        <div class="faq">
            
            <div class="faq-form-container">
                <form class="faq-form" action="/faq" method="POST">
                    <div class="faq-form-div">
                        <div>
                            <h2 style="color: white;">Ask Questions</h2>
                        </div>
                        <input type="text" name="name" class="faq-input" placeholder="Your Name" /><br>
                        <input type="text" name="number" class="faq-input" placeholder="Phone Number" /><br>
                        <input type="email" name="email" class="faq-input" placeholder="Your Email" /><br>
                        <input type="text" name="qstr" class="faq-input" placeholder="Type Your Question" /><br>
                        <input type="text" name="additional" class="faq-input" placeholder="Additional Information"><br>
                        <div class="faq-btn-container">
                            <button type="submit" class="faq-btn">ASK NOW</button>
                        </div>
                    </div>
                </form>
            </div> 
            <div class="location-container">
                <iframe class="location-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.7984671282056!2d79.9703695739774!3d6.914682818496007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae256db1a6771c5%3A0x2c63e344ab9a7536!2sSri%20Lanka%20Institute%20of%20Information%20Technology!5e0!3m2!1sen!2slk!4v1714330400281!5m2!1sen!2slk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        <div class="contact">contact us</div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        <div class="card-container">
            <div class="card">
                <img src="../public/img/man1.jpeg" />
                <div class="card-content">
                    <h1>Member 1</h1>
                    <p>
                        The Erlenmeyer flask is a tool usually made of glass
                        consists of a flat bottom, a tapered neck, a conical
                        body, and an opening that can be closed by a stopper.
                    </p><a href="tel://+94 78 676 3866">+94 78 676 3866</a>
                    <p><a href="mailto:gevindumasakorala123@gmail.com">gevindumasakorala123<br>@gmail.com</a></p>
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="../public/img/woman1.jpeg" />
                <div class="card-content"></div>
                <h1>Member 2</h1>
                <p>
                    The Erlenmeyer flask is a tool usually made of glass
                    consists of a flat bottom, a tapered neck, a conical body,
                    and an opening that can be closed by a stopper.
                    <p><a href="tel://+94 78 676 3866">+94 78 676 3866</a></p>
                    <p><a href="mailto:gevindumasakorala123@gmail.com">gevindumasakorala123<br>@gmail.com</a></p>
                </p>
            </div>
            <div class="card">
                <img src="../public/img/man2.jpeg" />
                <div class="card-content"></div>
                <h1>Member 3</h1>
                <p>
                    The Erlenmeyer flask is a tool usually made of glass
                    consists of a flat bottom, a tapered neck, a conical body,
                    and an opening that can be closed by a stopper.
                    <p><a href="tel://+94 78 676 3866">+94 78 676 3866</a></p>
                    <p><a href="mailto:gevindumasakorala123@gmail.com">gevindumasakorala123<br>@gmail.com</a></p>
                </p>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        <div class="partners">partners</div>

        <!-- ---------------------------------------------------------------------------------------------------- -->

        <div class="AIESEC">AIESEC IN SLIIT</div>

        <!-- ---------------------------------------------------------------------------------------------------- -->
        
        <script src="../public/js/scrollreveal.min.js"></script>
        <script src="../public/js/swiper-bundle.min.js"></script>
        <script src="../public/js/main.js"></script>
    </body>
</html>
