<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IntelliCon 2.0</title>
        <link rel="stylesheet" href="../public/style scratch 2.css" />
    </head>
    <body>
        <div class="header">
            <div class="header-logo">
                <a class="navbar-brand" href="index.html">
                    <img
                        src="../public/images/IntelliCon Logo1.png"
                        alt="Logo"
                    />
                </a>
            </div>
            <div class="header-items">
                <div class="header-item">Home</div>
                <div class="header-item">Schedule</div>
                <div class="header-item">CodeRun</div>
                <div class="header-item">FAQ</div>
                <div class="header-item">About Us</div>
            </div>
            <div class="header-register">
                <button class="header-register-btn">Register Now</button>
            </div>
        </div>
        <div class="content"></div>
        <div class="timeline">timeline 2.0</div>
        <div class="merch">Gear up with Style and Purpose</div>
        <div class="contact">contact us</div>
        <div class="card-container">
            <div class="card">
                <img src="../public/images/man1.jpeg" />
                <div class="card-content">
                    <h1>Member 1</h1>
                    <p>
                        The Erlenmeyer flask is a tool usually made of glass
                        consists of a flat bottom, a tapered neck, a conical
                        body, and an opening that can be closed by a stopper.
                    </p><a href="tel://+94 78 676 3866">+94 78 676 3866</a>
                    <p><a href="mailto:gevindumasakorala123@gmail.com">gevindumasakorala123<br>@gmail.com</a></p>
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/woman1.jpeg" />
                <div class="card-content"></div>
                <h1>Member 2</h1>
                <p>
                    The Erlenmeyer flask is a tool usually made of glass
                    consists of a flat bottom, a tapered neck, a conical body,
                    and an opening that can be closed by a stopper.
                    <p><a href="tel://+94 78 676 3866">+94 78 676 3866</a></p>
                    <p><a href="mailto:gevindumasakorala123@gmail.com">gevindumasakorala123<br>@gmail.com</a></p>
                </p>
            </div>
            <div class="card">
                <img src="../public/images/man2.jpeg" />
                <div class="card-content"></div>
                <h1>Member 3</h1>
                <p>
                    The Erlenmeyer flask is a tool usually made of glass
                    consists of a flat bottom, a tapered neck, a conical body,
                    and an opening that can be closed by a stopper.
                    <p><a href="tel://+94 78 676 3866">+94 78 676 3866</a></p>
                    <p><a href="mailto:gevindumasakorala123@gmail.com">gevindumasakorala123<br>@gmail.com</a></p>
                </p>
            </div>
        </div>
        <div class="partners">partners</div>
        <div class="AIESEC">AIESEC IN SLIIT</div>
    </body>
</html>
