body {
    user-select: none;
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--main-col-2);
}
::-webkit-scrollbar-thumb {
    background: #6c1f7e;
}
::-webkit-scrollbar-thumb:hover {
    background: #8e166a;
}

/* -------------------------------------------------- */

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 90%;
    padding: 1.3rem 5%;
    /* background: rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: space-between;
    font-family: "poppins", sans-serif;
}

.header * {
    margin: 0;
    padding: 0;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header .navlogo {
    display: inline-flex;
    width: 130px;
    height: 130px;

    margin-top: -35px;
    cursor: pointer;

    margin-bottom: -70px;
}

.navbar a {
    font-size: 1.15rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    color: #f0f0f0;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

/* breakpoints */
@media (max-width: 790px) {
    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.15s * var(--i));
    }
}

/* -------------------------------------------------- */

.hero-section {
    height: 600px;
    background-image: url("../img/back.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.glitch-text {
    position: absolute;
    color: #f0eeee;
    font-weight: 700;
    font-size: 3vw;
    transform: scale(2);
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 240px;
}

.glitch-text:before,
.glitch-text:after {
    padding: 30px;
    color: fff;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    top: 0;
}

.glitch-text:before {
    left: 0px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
}

.glitch-text:after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }
    5% {
        clip: rect(17px, auto, 94px, 30px);
    }
    10% {
        clip: rect(40px, auto, 66px, 30px);
    }
    15% {
        clip: rect(87px, auto, 82px, 30px);
    }
    20% {
        clip: rect(137px, auto, 61px, 30px);
    }
    25% {
        clip: rect(34px, auto, 14px, 30px);
    }
    30% {
        clip: rect(133px, auto, 74px, 30px);
    }
    35% {
        clip: rect(76px, auto, 107px, 30px);
    }
    40% {
        clip: rect(59px, auto, 130px, 30px);
    }
    45% {
        clip: rect(29px, auto, 84px, 30px);
    }
    50% {
        clip: rect(22px, auto, 67px, 30px);
    }
    55% {
        clip: rect(67px, auto, 62px, 30px);
    }
    60% {
        clip: rect(10px, auto, 105px, 30px);
    }
    65% {
        clip: rect(78px, auto, 115px, 30px);
    }
    70% {
        clip: rect(105px, auto, 13px, 30px);
    }
    75% {
        clip: rect(15px, auto, 75px, 30px);
    }
    80% {
        clip: rect(66px, auto, 39px, 30px);
    }
    85% {
        clip: rect(133px, auto, 73px, 30px);
    }
    90% {
        clip: rect(36px, auto, 128px, 30px);
    }
    95% {
        clip: rect(68px, auto, 103px, 30px);
    }
    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}
@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }
    5% {
        clip: rect(36px, auto, 4px, 30px);
    }
    10% {
        clip: rect(85px, auto, 66px, 30px);
    }
    15% {
        clip: rect(91px, auto, 91px, 30px);
    }
    20% {
        clip: rect(148px, auto, 138px, 30px);
    }
    25% {
        clip: rect(38px, auto, 122px, 30px);
    }
    30% {
        clip: rect(69px, auto, 54px, 30px);
    }
    35% {
        clip: rect(98px, auto, 71px, 30px);
    }
    40% {
        clip: rect(146px, auto, 34px, 30px);
    }
    45% {
        clip: rect(134px, auto, 43px, 30px);
    }
    50% {
        clip: rect(102px, auto, 80px, 30px);
    }
    55% {
        clip: rect(119px, auto, 44px, 30px);
    }
    60% {
        clip: rect(106px, auto, 99px, 30px);
    }
    65% {
        clip: rect(141px, auto, 74px, 30px);
    }
    70% {
        clip: rect(20px, auto, 78px, 30px);
    }
    75% {
        clip: rect(133px, auto, 79px, 30px);
    }
    80% {
        clip: rect(78px, auto, 52px, 30px);
    }
    85% {
        clip: rect(35px, auto, 39px, 30px);
    }
    90% {
        clip: rect(67px, auto, 70px, 30px);
    }
    95% {
        clip: rect(71px, auto, 103px, 30px);
    }
    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}

/* ------------------------------------timeline---------------------------- */

.timeline * {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    z-index: 1;
}

.timeline-frame {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}
.container-for-timeline {
    padding: 10px 50px;
    position: relative;
    width: 50%;

    opacity: 1;
    transition: opacity 0.4s linear;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

.container-for-timeline img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    opacity: 1;
}

.right-container img {
    left: -20px;
}
.timeline {
    position: relative;
}
.timeline-line {
    position: absolute;
    left: calc(50% - 3px);
    width: 6px;
    background-color: white;
    height: 100%;
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline-line {
        left: 27px;
    }
    .timeline-frame {
        margin: 50px auto;
    }
    .timeline-frame::after {
        left: 31px;
    }
    .container-for-timeline {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

/*--------------------*/

/*----------merch------------*/

.merch-text {
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 600px;
}

:root {
    --first-color: hsl(34, 52%, 54%);
    --first-color-light: hsl(34, 52%, 64%);
    --first-color-lighten: hsl(34, 52%, 68%);
    --black-color: hsl(0, 0%, 4%);

    --body-font: "Montserrat", sans-serif;
    --second-font: "Smooch", cursive;
    --biggest-font-size: 6rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    --font-regular: 400;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;

    /*--------------------------------------------------*/
    --main-col-1: #ffffff;
    --main-col-2: #35123d;
    --main-col-3: #1e0449;
    --main-col-4: #130e32;
    --main-col-5: #000000;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 17rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

.merch > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* background-color: var(--first-color); */
    color: var(--black-color);
    color: wheat;
}

.merch img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container-for-merch {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.merch-main {
    overflow: hidden;
}

.merch-container {
    /* height: 100vh; */
    padding-block: 9rem 2rem;
    display: grid;
    align-items: center;
    row-gap: 6rem;
}

.merch-content {
    position: relative;
    display: grid;
}

.merch-circle {
    position: absolute;
    inset: 0;
    width: 280px;
    height: 280px;
    border: solid 3px var(--first-color-lighten);
    border-radius: 50%;
    margin-inline: auto;
    display: grid;
    place-items: center;
}

.merch-subcircle {
    width: 246px;
    height: 246px;
    border: solid 12px var(--first-color-light);
    border-radius: 50%;
}

.merch-title {
    position: absolute;
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-regular);
}

.merch-img {
    width: 250px;
    filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, 0.4));
    margin: 0 auto 2rem;
}

.merch-article {
    text-align: center;
}

.merch-product,
.merch-price {
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
}

/* Swiper class */
.swiper {
    margin-inline: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    top: initial;
    bottom: 0;
    font-size: 1.5rem;
    color: var(--black-color);
}

.swiper-button-prev {
    left: calc(50% - 8rem);
}

.swiper-button-next {
    right: calc(50% - 8rem);
}

/*=============== breakpoints ===============*/
/* For small devices */
@media screen and (max-width: 330px) {
    .container-for-merch {
        margin-inline: 1rem;
    }

    .merch-img {
        width: 280px;
        margin-bottom: 3rem;
    }

    .merch-title {
        font-size: 5rem;
    }

    .merch-circle {
        width: 240px;
        height: 240px;
    }

    .merch-subcircle {
        width: 206px;
        height: 206px;
    }
}

/* For medium devices */

@media screen and (min-width: 768px) {
    .merch-article {
        scale: 0.6;
        transition: scale 0.3s;
    }

    .merch-product,
    .merch-price {
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* swiper class */
    .merch-section .swiper-slide-active {
        scale: 1;
    }

    .swiper-slide-active :is(.merch-product, .merch-price) {
        opacity: 1;
    }
}

/* For large devices */

@media screen and (min-width: 1152px) {
    .container-for-merch {
        margin-inline: auto;
    }

    .merch-container {
        height: initial;
        padding-top: 10rem;
    }

    .merch-swiper {
        max-width: 1100px;
        margin-inline: auto;
    }

    .merch-circle {
        width: 550px;
        height: 550px;
        border-width: 4px;
    }

    .merch-subcircle {
        width: 485px;
        height: 485px;
        border-width: 20px;
    }

    .merch-article {
        width: 450px;
        scale: 0.55;
    }

    .merch-img {
        width: 450px;
        margin-bottom: 5rem;
    }

    .merch-product,
    .merch-price {
        font-size: var(--h2-font-size);
    }
    .swiper-button-prev {
        left: calc(50% - 12rem);
        font-size: 2rem;
    }
    .swiper-button-next {
        right: calc(50% - 12rem);
        font-size: 2rem;
    }
}

/*--------------------*/

/*------------- faq -----------------*/

.faq {
    display: flex;
}
.faq-form-container {
    width: 50%;
    display: inline-flex;
}
.faq-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-form-div {
    width: 80%;
}

.location-container {
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.location-frame {
    margin-top: 10px;
    border-radius: 10px;
    height: 368px;
    width: 80%;
}

.faq-input {
    color: white;
    background-color: black;
    border: solid white 1px;
    border-radius: 6px;
    width: 95%;
    height: 40px;
    margin-bottom: 25px;
    padding: 6px 20px;
}

.faq-input::placeholder {
    color: white;
}

.faq-input:focus {
    outline: none;
}

.faq-btn {
    border: none;
    background-color: #ffbe33;
    color: white;
    width: 170px;
    height: 36px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.faq-btn:hover {
    background-color: #e69c00;
    cursor: pointer;
}

.faq h2 {
    margin-bottom: 25px;
}

/* ----------------------------------- */
.contact {
    padding-top: 30px;
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.card-container {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    /* border: solid red; */
    width: 100%;
}

.card {
    height: 450px;
    width: 290px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

/* ------------------partners------------------- */

.partners * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.partners {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-swiper-container {
    width: 80%;
}

.partners-card {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
}

.partners-card img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
}

/* -------------------------------------- */

/* =================================== */

.footer-card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aa-logo {
    color: white;
    width: 400px;
}

.aa-social {
    align-self: center;
    width: 330px;
    margin: 20px;
}

.title-text {
    text-align: center;
    font-size: larger;
    color: #fbc403;
    font-family: Roboto Slab;
    font-weight: 500;
    font-size: 4.5vw;
    margin: 20px;
}
