body {
    /* background-image: url("../img/aibrain.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
    user-select: none;
    background-color: #000000;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    height: 600px;
}

/* ------------------------------------timeline---------------------------- */

.timeline * {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    z-index: 1;
}

/* .timeline {
    container for timeline
    background: #2e364a;
} */

.timeline-frame {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}
.container-for-timeline {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0, 0, 0, 0.3); */

    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .container-for-timeline:nth-child(1) {
    animation-delay: 0s;
} */
.container-for-timeline:nth-child(2) {
    animation-delay: 1s;
}
.container-for-timeline:nth-child(3) {
    animation-delay: 2s;
}
.container-for-timeline:nth-child(4) {
    animation-delay: 3s;
}
.container-for-timeline:nth-child(5) {
    animation-delay: 4s;
}
.container-for-timeline:nth-child(6) {
    animation-delay: 5s;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

.container-for-timeline img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.timeline-frame::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline-frame {
        margin: 50px auto;
    }
    .timeline-frame::after {
        left: 31px;
    }
    .container-for-timeline {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

/*--------------------*/

/*----------merch------------*/

.merch-text {
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 600px;
}

/*=============== vars ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(34, 52%, 54%);
    --first-color-light: hsl(34, 52%, 64%);
    --first-color-lighten: hsl(34, 52%, 68%);
    --black-color: hsl(0, 0%, 4%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Smooch", cursive;
    --biggest-font-size: 6rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 17rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/*=============== rest ===============*/

.merch > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* background-color: var(--first-color); */
    color: var(--black-color);
    color: wheat;
}

.merch img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container-for-merch {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.merch-main {
    overflow: hidden;
}

.merch-container {
    /* height: 100vh; */
    padding-block: 9rem 2rem;
    display: grid;
    align-items: center;
    row-gap: 6rem;
}

.merch-content {
    position: relative;
    display: grid;
}

.merch-circle {
    position: absolute;
    inset: 0;
    width: 280px;
    height: 280px;
    border: solid 3px var(--first-color-lighten);
    border-radius: 50%;
    margin-inline: auto;
    display: grid;
    place-items: center;
}

.merch-subcircle {
    width: 246px;
    height: 246px;
    border: solid 12px var(--first-color-light);
    border-radius: 50%;
}

.merch-title {
    position: absolute;
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-regular);
}

.merch-img {
    width: 250px;
    filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, 0.4));
    margin: 0 auto 2rem;
}

.merch-article {
    text-align: center;
}

.merch-product,
.merch-price {
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
}

/* Swiper class */
.swiper {
    margin-inline: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    top: initial;
    bottom: 0;
    font-size: 1.5rem;
    color: var(--black-color);
}

.swiper-button-prev {
    left: calc(50% - 8rem);
}

.swiper-button-next {
    right: calc(50% - 8rem);
}

/*=============== breakpoints ===============*/
/* For small devices */
@media screen and (max-width: 330px) {
    .container-for-merch {
        margin-inline: 1rem;
    }

    .merch-img {
        width: 280px;
        margin-bottom: 3rem;
    }

    .merch-title {
        font-size: 5rem;
    }

    .merch-circle {
        width: 240px;
        height: 240px;
    }

    .merch-subcircle {
        width: 206px;
        height: 206px;
    }
}

/* For medium devices */

@media screen and (min-width: 768px) {
    .merch-article {
        scale: 0.6;
        transition: scale 0.3s;
    }

    .merch-product,
    .merch-price {
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* swiper class */
    .merch-section .swiper-slide-active {
        scale: 1;
    }

    .swiper-slide-active :is(.merch-product, .merch-price) {
        opacity: 1;
    }
}

/* For large devices */

@media screen and (min-width: 1152px) {
    .container-for-merch {
        margin-inline: auto;
    }

    .merch-container {
        height: initial;
        padding-top: 10rem;
    }

    .merch-swiper {
        max-width: 1100px;
        margin-inline: auto;
    }

    .merch-circle {
        width: 550px;
        height: 550px;
        border-width: 4px;
    }

    .merch-subcircle {
        width: 485px;
        height: 485px;
        border-width: 20px;
    }

    .merch-article {
        width: 450px;
        scale: 0.55;
    }

    .merch-img {
        width: 450px;
        margin-bottom: 5rem;
    }

    .merch-product,
    .merch-price {
        font-size: var(--h2-font-size);
    }
    .swiper-button-prev {
        left: calc(50% - 12rem);
        font-size: 2rem;
    }
    .swiper-button-next {
        right: calc(50% - 12rem);
        font-size: 2rem;
    }
}

/*--------------------*/

/*------------- faq -----------------*/

.faq {
    display: flex;
}
.faq-form-container {
    width: 50%;
    display: inline-flex;
}
.faq-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-form-div {
    width: 80%;
}

.location-container {
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.location-frame {
    margin-top: 10px;
    border-radius: 10px;
    height: 368px;
    width: 80%;
}

.faq-input {
    color: white;
    background-color: black;
    border: solid white 1px;
    border-radius: 6px;
    width: 95%;
    height: 40px;
    margin-bottom: 25px;
    padding: 6px 20px;
}

.faq-input::placeholder {
    color: white;
}

.faq-input:focus {
    outline: none;
}

.faq-btn {
    border: none;
    background-color: #ffbe33;
    color: white;
    width: 170px;
    height: 36px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.faq-btn:hover {
    background-color: #e69c00;
    cursor: pointer;
}

.faq h2 {
    margin-bottom: 25px;
}

/* ----------------------------------- */
.contact {
    padding-top: 30px;
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.card-container {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    /* border: solid red; */
    width: 100%;
}

.card {
    height: 450px;
    width: 290px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: solid rgb(255, 0, 0); */
    text-align: center;
}

/* ------------------partners------------------- */

.partners * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.partners {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-swiper-container {
    /* border: 1px solid red; */
    width: 80%;
}

.partners-card {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
}

.partners-card img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
}

/* -------------------------------------- */

/* =================================== */

.footer-card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aa-logo {
    color: white;
    width: 400px;
}

.aa-social {
    align-self: center;
    width: 330px;
    margin: 20px;
}

.title-text {
    text-align: center;
    font-size: larger;
    color: #fbc403;
    font-family: Roboto Slab;
    font-weight: 500;
    font-size: 4.5vw;
    margin: 20px;
}
