body {
    background-image: url("./images/aibrain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.header {
    background-color: rgba(113, 113, 113, 0.5);
    display: flex;
    justify-content: space-around;
    height: 85px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand img {
    height: 130px;
    width: 130px;
    padding-top: 30px;
}

.header-item {
    display: inline-flex;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    height: 25px;
    width: 95px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1.5px rgba(69, 29, 29, 0);
    border-top: solid 1.5px rgba(169, 29, 29, 0);
}

.header-item:hover {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    background-color: #2712c4;
}
.header-items {
    width: auto;
    display: inline-flex;
    justify-content: center;
}

.header-logo {
    display: inline-flex;
    width: 100px;
}

.header-register {
    display: inline-flex;
    width: 100px;
}

.header-register-btn {
    padding: 8px 30px;
    background-color: #ffee00;
    color: #000000;
    border-radius: 45px;
    transition: all 0.3s;
    border: none;
    white-space: nowrap;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: inherit;
}

.header-register-btn:hover {
    background-color: #e3d403;
    cursor: pointer;
}

.content {
    height: calc(97vh - 95px);
}

.content-topic {
    color: white;
    text-transform: uppercase;
}

.container {
    height: 97vh;
}
