body {
    background-image: url("./images/aibrain.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    background-color: #000000;
}

.header {
    background-color: rgba(113, 113, 113, 0.5);
    display: flex;
    justify-content: space-around;
    height: 85px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand img {
    height: 130px;
    width: 130px;
    padding-top: 30px;
}

.header-item {
    display: inline-flex;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    height: 25px;
    width: 95px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1.5px rgba(69, 29, 29, 0);
    border-top: solid 1.5px rgba(169, 29, 29, 0);
}

.header-item:hover {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    background-color: #2712c4;
}
.header-items {
    width: auto;
    display: inline-flex;
    justify-content: center;
}

.header-logo {
    display: inline-flex;
    width: 100px;
}

.header-register {
    display: inline-flex;
    width: 100px;
}

.header-register-btn {
    padding: 8px 30px;
    background-image: linear-gradient(to right, red, blue);
    color: #ffffff;
    border-radius: 45px;
    transition: all 0.3s;
    border: none;
    white-space: nowrap;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: inherit;
}

.header-register-btn:hover {
    background-image: linear-gradient(to left, red, blue);
    cursor: pointer;
}

.content {
    height: 600px;
}

/* ------------------------------------timeline---------------------------- */

.timeline * {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    z-index: 1;
}

.timeline {
    /* container for timeline */
    background: #2e364a;
}

.timeline-frame {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0, 0, 0, 0.3); */

    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .container:nth-child(1) {
    animation-delay: 0s;
} */
.container:nth-child(2) {
    animation-delay: 1s;
}
.container:nth-child(3) {
    animation-delay: 2s;
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}
.container:nth-child(6) {
    animation-delay: 5s;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.timeline-frame::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline-frame {
        margin: 50px auto;
    }
    .timeline-frame::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

/*--------------------*/

/*----------merch------------*/

.merch {
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 600px;
}

.book_section {
    position: relative;
    width: 100%;
    left: 30px;
    right: 30px;
    height: auto;
}

.book_section .heading_container {
    margin-bottom: 25px;
    color: #ffffff;
    width: 45%;
}

.book_section .form_container .form-control {
    width: 45%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    outline: gray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.book_section .form_container .form-control::-webkit-input-placeholder {
    color: #fffefe;
}

.book_section .form_container .form-control:-ms-input-placeholder {
    color: #ffffff;
}

.book_section .form_container .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.book_section .form_container .form-control::placeholder {
    color: #ffffff;
}

.book_section .form_container .nice-select .current {
    font-size: 16px;
}

.book_section .form_container button {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
}

.book_section .form_container button:hover {
    background-color: #e69c00;
}

.book_section .map_container {
    position: absolute;
    top: 10%;
    left: 50%;
    width: calc(50%-10px); /* Adjust as needed */
    height: 380px; /* Adjust as needed */
    border-radius: 10px;
    overflow: hidden;
}

.book_section .map_container #googleMap {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.contact {
    padding-top: 30px;
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.card-container {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border: solid red;
    width: 100%;
}

.card {
    height: 450px;
    width: 290px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid rgb(255, 0, 0);
    text-align: center;
}
.partners {
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 600px;
}
.AIESEC {
    color: #ffee00;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 300px;
}
